<br>
<div class="app-body ">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="card mx-4" style="width: 100%;">
            <div class="card-body p-4">
              <form [formGroup]="adminForm">
                <h2 class="text-center text-primary">Zebra Tray Admin</h2>
                <hr>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-10">
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': adminForm.get('tray_ID').errors && adminForm.get('tray_ID').touched}"
                        formControlName="tray_ID" placeholder="Tray ID">
                      <div class="invalid-feedback"
                        *ngIf="adminForm.get('tray_ID').touched && adminForm.get('tray_ID').hasError('required')">
                        Tray ID is
                        required</div>
                    </div>
                    <div class="col-lg-2">
                      <button class="btn btn-success" type="submit" style="width: 100%;"
                        (click)="getTrayInfo()">Enter</button>
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="isSearch">
                  <strong>RMA No. :</strong>
                  <p>{{trayDetail?.rmA_No}}</p>
                </div>
                <div class="form-group" *ngIf="isSearch">
                  <strong>Part No. :</strong>
                  <p>{{trayDetail?.pn}}</p>
                </div>
                <div class="form-group" *ngIf="isSearch">
                  <strong>Current Items in Tray:</strong>
                  <p>{{trayDetail?.current_Item_Count}}</p>
                </div>
                <div class="form-group" *ngIf="isSearch">
                  <strong>Tray Qty:</strong>
                  <br>
                  <input
                    [ngClass]="{'is-invalid': adminForm.get('tray_Qty').errors && adminForm.get('tray_Qty').touched || adminForm.hasError('trayBadNumber') && adminForm.get('tray_Qty').touched}"
                    class="form-control" placeholder="Tray Qty" formControlName="tray_Qty">
                  <div class="invalid-feedback"
                    *ngIf="adminForm.get('tray_Qty').touched && adminForm.get('tray_Qty').hasError('required')">
                    Tray quantity is
                    required</div>
                </div>
                <div class="invalid-feedback"
                  *ngIf="adminForm.hasError('trayBadNumber') && adminForm.get('tray_Qty').touched">
                  Quantity must be between 0 - 14
                </div>
                <div class="form-group" *ngIf="isSearch">
                  <strong>Scrap Qty:</strong>
                  <br>
                  <input
                    [ngClass]="{'is-invalid': adminForm.get('scrap_Qty').errors && adminForm.get('scrap_Qty').touched || adminForm.hasError('badNumber') && adminForm.get('scrap_Qty').touched}"
                    class="form-control" placeholder="Scrap Qty" formControlName="scrap_Qty">
                  <div class="invalid-feedback"
                    *ngIf="adminForm.get('scrap_Qty').touched && adminForm.get('scrap_Qty').hasError('required')">
                    Scrap quantity is
                    required</div>
                  <div class="invalid-feedback"
                    *ngIf="adminForm.hasError('badNumber') && adminForm.get('scrap_Qty').touched">
                    Quantity must be greatrer than 0 and less than Tray item number
                  </div>
                </div>
                <div class="form-group" *ngIf="isSearch">
                  <strong>Current Station. :</strong>
                  <p>{{trayDetail?.next_Station_Name}}</p>
                </div>
                <div class="form-group" *ngIf="isSearch">
                  <strong>Last Modify By:</strong>
                  <p>{{trayDetail?.lastModifyBy}}</p>
                </div>
                <div class="form-group" *ngIf="isSearch">
                  <strong>Last Modify Date:</strong>
                  <p>{{trayDetail?.lastModifyDate}}</p>
                </div>
                <div class="form-group" *ngIf="isSearch">
                  <strong>Is Close:</strong>
                  <select class="custom-select" formControlName="isClose">
                    <option [ngValue]="true">Yse</option>
                    <option [ngValue]="false" selected>No</option>
                  </select>
                </div>
                <div class="form-group text-center" *ngIf="isSearch">
                  <button class="btn btn-success" type="submit" [disabled]="!adminForm.valid"
                    (click)="modifyTray()">Submit</button>
                  <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>