<div class="container">
  <ul class="mainmenu">
      <li><a href="/" ><b><img src="images/tb01.png" /></b><span>Zebra</span></a></li>
      <li><a href="/" ><b><img src="images/tb02.png" /></b><span>新闻中心</span></a></li>
      <li><a href="/" ><b><img src="images/tb03.png" /></b><span>产品展示</span></a></li>
      <li><a href="/" ><b><img src="images/tb04.png" /></b><span>成功案例</span></a></li>
      <li><a href="/" ><b><img src="images/tb05.png" /></b><span>下载中心</span></a></li>
      <li><a href="/" ><b><img src="images/tb06.png" /></b><span>团队介绍</span></a></li>
      <li><a href="/" ><b><img src="images/tb06.png" /></b><span>人才招聘</span></a></li>
      <li><a href="/" ><b><img src="images/tb07.png" /></b><span>联系我们</span></a></li>
      <li><a href="/" ><b><img src="images/tb08.png" /></b><span>在线留言</span></a></li>          
  </ul>
  <!-- 欢迎大家关注我的博客！如有疑问,请加QQ群：135430763共同学习！ -->
</div>